@{
    ViewBag.Title = "Details";
}
@using Tcc_Imoveis.Models;
@using System.Data.Objects;

@section Head {
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> 
<style> #map_canvas{ width:100%; height:400px; } </style>
}

@{
    GetImovel_Result r = ViewBag.imovel;   
}
<script>
var map;
var creator = "";
var markersArray = new Array();
var polyX = new Array();
var polyY = new Array();
var pontos = Array();

$(document).ready(function () {
    var myLatlng = new google.maps.LatLng(@r.x.Replace(",","."), @r.y.Replace(",","."));
    var myOptions = {
        zoom: 10,
        center: myLatlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        var marker = new google.maps.Marker({
        position: new google.maps.LatLng(@r.x.Replace(",","."), @r.y.Replace(",",".")),
        map: map
    });
});
</script>
<h2>Detalhes</h2>


<div id="area-site">
		<h1 class="titulo">Detalhes do Imóvel</h1>
		<div class="bloco1">
			<div class="texto1">
			<h2>@r.nome</h2>

<p> @r.descricao </p>
			
			</div><!-- fecha texto1 -->

			<div class="fotos1">
           
				<a class="foto-amplia" href="#"><img src="@ViewBag.ImagemPrincipal" /></a>
			</div><!-- fecha fotos1 -->
		</div><!-- fecha bloco1 -->
		<div class="bloco2">
			<h1 class="titulo2">Principais Dados</h1>
			 <table cellpadding="0" cellspacing="0">
	         <thead>
            <tr>
               <th>Atributo</th>
               <th>Valor</th>
            </tr>
            </thead>
            <tbody>
            @{ int x = 0; }
            @foreach (ImovelAtributo_Result atributos in ViewBag.imovelAtributos)
            {
                <tr @if (x++ % 2 == 0)
                    {
                        <text>class="odd"</text>
                    } >
                    <td>@atributos.descricao</td>
                    <td>@atributos.valor</td>
                </tr>
                
            }
         </tbody></table>
		</div><!-- fecha bloco2 -->
		
		<div class="bloco3">
			<h1 class="titulo2">Localização</h1>
			<div id="map_canvas"></div>
		</div><!-- fecha bloco3 -->
		<div class="bloco3">
			<h1 class="titulo2">Faça Contato</h1>
			<form id="form1" name="form1" method="post" action="">
			<table width="100%" border="0" cellspacing="2" cellpadding="2">
	<tr>
		<td width="20%" align="right">Nome:</td>
		<td width="80%">
			<label for="textfield"></label>
			<input type="text" name="textfield" id="textfield" />
		</td>
	</tr>
	<tr>
		<td align="right">Email:</td>
		<td><input type="text" name="textfield2" id="textfield2" /></td>
	</tr>
	<tr>
		<td align="right">Assunto:</td>
		<td><input type="text" name="textfield3" id="textfield3" /></td>
	</tr>
	<tr>
		<td align="right">Mensagem:</td>
		<td><label for="textarea"></label>
			<textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td><a class="bt1" href="#" onclick="alert('Contato realizado com sucesso!');">Enviar</a></td>
	</tr>
</table></form>

		</div><!-- fecha bloco3 -->
	
	</div><!-- area site -->
