<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/> 
    <meta name="description" content="@ViewBag.description" />
    <link href="@Url.Content("~/Content/reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.core.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/cufon.yui.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Sansation_400.font.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.superfish.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.hoverIntent.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.jcarousel.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.easing.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.corner.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.form.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.scripts.js")"></script>
    <!--[if lte IE 7]>
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/ie.css")" />
    <![endif]-->
    <!--[if IE 6]>
    <script type="text/javascript" src="@Url.Content("~/Scripts/dd.pngfix.js")"></script>
    <script type="text/javascript">
      DD_belatedPNG.fix('.png_fix');
      DD_belatedPNG.fix('#featured_buttons li');
      DD_belatedPNG.fix('#featured_desc li div');
    </script>
    <![endif]-->
    @RenderSection("Head", required: false)
</head>

<body>
<!-- begin: wrapper -->
<div id="wrapper">
	<!-- begin: header -->
   <div id="header">
      <h1>
         <a href="/"><span class="hide_this">@ViewBag.Subtitulo</span></a>
         <span class="hide_this">TCC Imoveis</span>
      </h1>
        
      <!-- login area @Html.Partial("_LogOnPartial") -->
      <!-- begin: quick_info -->
      <p class="quick_info"> <strong class="font_sansation">Contate um corretor!</strong><br />
         Se você gostaria de falar com um de nossos corretores da agência imediatamente nos ligue<br />
         <strong class="font_sansation">11 1234-5678</strong> e alguns de nossos corretores qualificados estarao felizes em auxilia-lo.
      </p>
      <!-- end: quick_info -->
   </div>
   <!-- end: header -->
   <!-- begin: navigation -->
   @Html.Partial("_LayoutMenu")
   <!-- begin: main_content -->
   <div id="main_content" class="clear_fix">
   <!-- begin: column_left -->
      

        @RenderBody()
         
       
      <!-- end: column_left -->
      <!-- begin: column_right -->
      <div id="column_right">
      	@Html.Partial("_LayoutSidebar")
         
      </div>
      <!-- end: column_right -->
   </div>
   <!-- end: main_content -->
</div>
<!-- end: wrapper -->
<!-- begin: footer -->
<div id="footer">
	<!-- begin: footer_content -->
   <ul id="footer_content" class="clear_fix">
      <li class="footer_widget widget_blog">
         <h2 class="font_sansation">Novidades Recentes</h2>
         <ul>
            <li class="clear_fix">
               <p class="footer_blog_date"> <span class="blog_month">Dez</span> <span class="blog_day">10</span> </p>
               <div class="footer_blog_desc">
                  <h3 class="font_sansation"><a href="#">Alta em valor de imovel causada pela UE</a></h3>
                  <p class="blog_author">Escrito por: Convallis Grativa</p>
                  <p>Casas sao vendidas 15 x mais caro nos ultimos 3 meses devido a crise economica gerada na europa oriental, inflacionistas dizem ser culpa da nova carta de comercio imposta pela uniao europeia.</p>
                  <p class="blog_read_more"><a href="#">Leia mais..</a></p>
               </div>
            </li>
            <li class="clear_fix">
               <p class="footer_blog_date"> <span class="blog_month">Dez</span> <span class="blog_day">10</span> </p>
               <div class="footer_blog_desc">
                  <h3 class="font_sansation"><a href="#">Home Boat ganha novos ares</a></h3>
                  <p class="blog_author">Escrito por: Convallis Grativa</p>
                  <p>Ideia de casa boat ganha o mundo em 8 paises, Steven Ferrewl diz que ideia vem para ficar e promete entregar modelo para rios em 2017 com suporte a ABX.</p>
                  <p class="blog_read_more"><a href="#">Leia mais..</a></p>
               </div>
            </li>
            <li><a href="post-list.html" class="button_view_all"><span class="hide_this">Ver Todos</span></a></li>
         </ul>
      </li>
      <li class="footer_widget widget_about">
         <h2 class="font_sansation">Sobre TCC Imoveis</h2>
         <img src="/Content/images/about-us-image.jpg" width="276" height="96" alt="" />
         <p>Conheca mais sobre a empresa que vem revolucionando o setor de imoveis. <a href="#">Veja nossos cases</a>, ha mais de 15 anos no mercado imobiliario, sempre unindo voce de seu sonho. Nao perca tempo, ligue-nos ja</p>
         <p>Assita alguns depoimentos de nossos clientes e va em busca de seu sonho. Aqui tornamos sonhos em realidade. Atendimento 24H, 7 dias por semana</p>
      </li>
      <li class="footer_widget last widget_contact">
         <h2 class="font_sansation">Contate-nos</h2>
         <div id="form_result"></div>
         <form action="theme-assets/php/contact-processor.php" method="post" id="quick_contact">
            <p>
               <label for="id_name">Nome : </label>
            </p>
            <p class="input_name">
               <input type="text" id="id_name" name="input_name" />
            </p>
            <p>
               <label for="id_email">Email : </label>
            </p>
            <p class="input_email">
               <input type="text" id="id_email" name="input_email" />
            </p>
            <p>
               <label for="id_message">Mensagem : </label>
            </p>
            <p class="input_message">
               <textarea id="id_message" name="textarea_message" rows="" cols="" ></textarea>
            </p>
            <button type="submit" id="id_send" name="button_send" class="button_send" >
               <span class="hide_this">Enviar</span>
            </button>
         </form>
      </li>
   </ul>
	<!-- end: footer_content -->
   <!-- begin: strip_footer -->
   <div id="strip_footer" class="clear_fix">
      <p>Copyright &copy; Quick Start Real Estate Theme</p>
      <ul>
         <li><a href="index.html">Home</a> &bull;</li>
         <li><a href="single.html">Sobre Nós</a> &bull;</li>
         <li><a href="buyers.html">Política de privacidade</a> &bull;</li>
         <li><a href="sellers.html">Glossário</a> &bull;</li>
         <li><a href="post-list.html">Anuncie</a> &bull;</li>
         <li><a href="contact-us">Contato</a></li>
      </ul>
   </div>
   <!-- end: strip_footer -->
</div>
<!-- end: footer -->
<script type="text/javascript">    Cufon.now(); </script>
</body>
